@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities{
  .container {
    max-width: 1200px;
    @apply mx-auto
  }
  .dropdown {
    z-index: 99;
  }
  header {
    @apply shadow-lg;
    z-index: 90;
  }
    /* Menu Toggle */
  .menu-open {
    @apply p-2 h-full transition ease-in-out;
  }
}

/* @layer components {
   body {
    @apply dark:!bg-slate-900 dark:!text-slate-300
  }
  .bg-brand-overlay {
    @apply !bg-gray-900
  }
  * {
    @apply dark:!border-gray-800
  }
  h1,h2,h3,h4,h5 {
    @apply dark:!text-brand-lightGreen
  }
  .search > div, .search input {
    @apply dark:!bg-brand-black dark:!text-brand-lightGreen
  }
  img {
    @apply dark:!grayscale dark:hover:!grayscale-0
  }

  footer .social a {
    @apply dark:bg-transparent dark:hover:bg-brand-black
  }
} */

@layer components {

 
  .btn {
    @apply bg-brand-baseGreen text-brand-white px-4 py-2 rounded-sm
  }
  .btn:hover {
    @apply bg-brand-baseGreen/75;
  }
  .btn-secondary {
    @apply bg-brand-lightGreen text-brand-baseGreen hover:bg-brand-lightGreen/75 px-3 rounded-sm text-xs
  }
  
  .badge {
    @apply text-xs rounded-sm text-brand-white py-1 px-2
  }
  .badge-warning {
    @apply bg-[#FFD480];
  }
  .badge-success {
    @apply bg-brand-lightGreen text-brand-baseGreen text-xs;
  }

  li:hover a, .active a, .active {
    @apply text-brand-baseGreen
  }
  li:hover:not(li.active) a,
  .call:hover a {
    @apply md:-translate-y-1 transition-transform ease-in-out text-brand-baseGreen
  }
  nav li:hover svg path,
  nav li.active svg path,
  .active svg path {
    fill: rgba(59, 183, 126, 1);
  }
}


